:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --orange: #ff6900;
  --pink: #ff4091;
  --yellow: #ffd500;
  --headingFont: "Raleway", sans-serif;
  --textFont: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
  background: rgb(247, 242, 242);
  background: linear-gradient(90deg, rgba(247, 242, 242, 1) 15%, rgba(255, 249, 217, 1) 100%);
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 5px 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
  text-align: center;
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--orange);
  color: var(--blanco);
}
.btn-primario:hover {
  background: #ffd500;
}
/* .btn-secundario {
  background-color: var(--gris1);
} */
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: #ffd500;
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

.btn-eliminar {
  margin: 0;
  height: 30%;
}

.contenedor-listado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BARRA LATERAL */
aside {
  padding: 3rem;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 2px solid #ffd500;
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-nuevo-proyecto .input-text::placeholder {
  color: var(--gris2);
}
.proyectos {
  margin-top: 10rem;
}
.listado-proyectos li {
  margin-bottom: 2rem;
}
.listado-proyectos li a {
  font-size: 1.4rem;
  color: var(--gris2);
  line-height: 1.5;
  font-weight: 300;
}
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pink);
  padding: 4rem;
}
.nombre-usuario {
  color: var(--blanco);
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal button {
  color: var(--blanco);
  background: none;
  border: none;
  padding: 0;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
.formulario {
  background-color: #eeee;
  padding: 4rem;
}
.formulario form {
  max-width: 600px;
  margin: 0 auto;
}
.contenedor-input {
  display: flex;
}
.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--blanco);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  flex: 1;
  width: 100%;
}

/** TAREAS LISTADO **/
.contenedor-tareas {
  padding: 4rem;
}

.listado-tareas {
  max-width: 600px;
  margin: 0 auto;
}

.tarea {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: 0.5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
}

.tarea:hover {
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid var(--yellow);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}
.tarea .acciones .btn:first-of-type {
  margin-right: 1rem;
}
.tarea p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 2rem;
}
.tarea .btn {
  padding: 0.8rem;
  font-size: 1.4rem;
  margin: 0;
}

.estado {
  margin-right: 1rem;
}
.estado button,
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.mensaje:hover {
  cursor: default;
}
.completo,
.correcto {
  background-color: rgba(154, 252, 154, 0.3);
  color: var(--gris3);
}
.incompleto {
  background-color: rgba(255, 178, 178, 0.4);
  color: var(--gris3);
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}

.form-usuario {
  background-color: rgb(255, 198, 124);
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.contenedor-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 80%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.campo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="user"],
.campo-form input[type="text"],
.campo-form input[type="email"] {
  border: 1px solid #e1e1e1;
  border-radius: 50px;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: 0.7;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}

.anim-container {
  height: 100%;
  width: 45%;
}
.animation {
  width: 100%;
}

.flex-animation {
  display: flex;
  justify-content: center;
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

@media (max-width: 360px) {
  label {
    display: none;
  }

  .form-usuario {
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contenedor-form {
    width: 100%;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    padding-bottom: 150px;
  }

  .animation {
    width: 100%;
    padding-top: 50px;
  }
  .anim-container {
    width: 100%;
    padding-top: 50%;
  }

  .app-header {
    width: 50px;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    margin-left: 70%;
    bottom: 8px;
    padding: 3.5rem;
  }

  .nombre-usuario {
    display: none;
  }

  .nav-principal {
    position: relative;
  }
  .nav-principal button {
    position: absolute;
    font-size: small;
    left: -20px;
    top: -15px;
    font-weight: bold;
  }

  .proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .contenedor-listado {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .proyecto-title {
    margin: 5px 0 3rem 0;
  }
  .btn-eliminar {
    margin: 0 0 20px 0;
    width: 70%;
  }

  .pt-0 {
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .contenedor-app {
    display: flex;
    min-height: 100vh;
  }

  aside {
    background-color: var(--blanco);
    flex: 0 0 300px;
  }

  .seccion-principal {
    flex: 1;
  }
  .alerta {
    width: auto;
    top: 30px;
    right: 10px;
    left: auto;
  }
}

@keyframes example {
  0% {
    border-left: 2px solid #ffffff;
  }
  25% {
    border-left: 3px solid #ffe6e6;
  }
  50% {
    border-left: 4px solid var(--yellow);
  }
  100% {
    border-left: 5px solid var(--yellow);
  }
}
